.se_cover {
    margin-top: 50px;
    /* width: 100%; */
}

.se_box {
    background-color: rgb(187, 233, 235);
    /* width: 20%; */
    /* height: 50vh; */
    border: 2px solid rgb(211, 211, 211);
    overflow: hidden;
    border-radius: 20px;
    /* aspect-ratio: 4/4; */
}

.se_text {
    padding: 10px;
    margin-top: 7px;
    text-align: justify;
}